@font-face {
    font-family: Kanit-Largetext;
    src:url(Kanit-Medium.ttf)
}

@font-face {
    font-family: Kanit-Mediumtext;
    src:url(Kanit-Light.ttf);
}

@font-face {
    font-family: Kanit-Smalltext;
    src: url(Kanit-ExtraLight.ttf);
}

h1 {
    font-family: Kanit-Largetext;
}

h3 {
    font-family:Kanit-Mediumtext;
}

body {
    background-color: #f7f2ed;
}

.Logo {
    width: 150px;
}

.LoginNav {
    height:5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    height:100%;
}

li {
    float: left;
    font-family: Kanit-Smalltext;
    text-decoration: none;
}

a:hover {
    color: #04AA6D;

}

.PageLink {
    padding-left:2%;
}

.PageButton {
    float: right;
    padding-right:1%;
}
  
a {
    display: block;
    padding: 8px;
}

.Section-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 86%;
}

.Hero-Image {
    margin-top: 5%;
    width:50%;
}

.Hero-Header {
    margin-top: 7%;
    height: fit-content;
    width: fit-content;
}

.Hero-Subtext {
    margin-top: 7%;
    height: fit-content;
    width: fit-content;
}

.Hero-Section {
    padding: 0px 0px 0px 120px;
    position:relative;
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    -webkit-box-pack: center;
}

.Hero-Image {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-pack:center;
    justify-content: center;
    width: 50%;
    position: relative;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Kanit-Smalltext;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .Section-Divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    height: 10%;
    width:100%;
    background-color: #04AA6D;
  }

  .headingDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .subjectButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .subjectButtonsLower {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .section-2 {
    height:46%;
  }


  .box1 {
    display: flex;
    width: 10%;
    height:30%;
    color: #000;
  }